<div class="">
<h1>Find Vacation Packages</h1>
</div>
<table>
  <tr>
    <td style="width: 50%;">
      <form (ngSubmit)="onSubmit()" #vacationPackageSearchForm="ngForm">  

        <div class= "form-group">
          <label>
            From:
            <input type="text" name="from" [(ngModel)]="from">
          </label>
        
          <label>
            To:
            <input type="text" name="to" [(ngModel)]="to">
          </label>
        
        </div>
            
        <div class= "form-group">
          <label>
          Departure:
          <input type="Date"  name="Departure">
          </label>
        
          <label>
          Return:
          <input type="Date"  name="Return">
          </label>
        </div>
        
        <div class= "form-group">
          <label>
          Guests:
          <input type="number" name="Guests" placeholder={{GuestsPlaceHolder}}>
          </label>
        </div>
        
        <div>
          <button mat-flat-button color="warn">Find Packages</button>
        </div> 
        </form>
    </td>
    <td style="width: 50%;">
      <app-googlemapsapi></app-googlemapsapi>
    </td>
  </tr>
</table>

    